
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
.idea
###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/

!/public/build/assets/css/app.*.css
!/public/build/assets/app.*.js



/public/build/dev
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
cleardb.sh
!/public/build/assets/
