{% extends 'panel/base.html.twig' %}
{% block layout %}
    {% block header %}
        <header>

        </header>
    {% endblock %}

    {% block body %}
        <div>

        </div>
    {% endblock %}


    {% block footer %}
        <footer>

        </footer>
    {% endblock %}
{% endblock %}


