{% extends 'front/layout.html.twig' %}
{% import 'front/product/macro/product_box.html.twig' as macro %}
{% block body %}
    <div class="container">
        <div class="index">



            <ul>
                {% for p in products %}
                    {{ macro.product_box(p) }}
                {% endfor %}
            </ul>

        </div>
    </div>
{% endblock %}