@import '../../../node_modules/bootstrap/scss/bootstrap';
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "front/header";
@import "front/product";

$color: #66EDAC;
$color1: #7BCDE8;
$color2: #F2F19F;
$color3: #C0BEEC;
$color4: #DEA8A9;

