{% extends 'front/base.html.twig' %}

{% block body %}
    <div class="index">

        strona główna

        <ul>
            {% for p in products %}
                {#{{ form_start(form,'ss',{'product'}) }}#}
                 <li>
                     <div>{{ p.name }}</div>
                     {{ render(controller('App\\Controller\\Front\\OrderController::addItemForm', {'id' : p.id})) }}
                 </li>


                {#{{ form_end() }}#}
            {% endfor %}
        </ul>

    </div>
{% endblock %}